* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
  width: 100vw !important;
  height: auto !important;
  overflow-x: hidden;
}


p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 90rem;
  padding: 0 2.4rem;
}


/* Header */
.header {
  width: 100%;
  height: 40px;
}

.header .container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.header .container header .branch a {
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
}

.header .container header ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}

.header .container header ul li {
  padding: 0 20px;
}

/* Home-content */
.home-content {
  background-color: #f3f3f3;
}
.home-content .container .sub-heading {
  padding-top: 214px;
  text-align: center;
}

.home-content .container .sub-heading h1 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0;
}

.home-content .container .sub-heading h1 span {
  font-weight: 700;
}

.home-content .container .sub-heading a {
  display: inline-block;
  margin-top: 54px;
  color: black;
  font-size: 16px;
  font-weight: 700;
  background-color: #e0e0e0;
  padding: 12px 40px;
  border-radius: 50px;
}

.home-content .container .about-service-price {
  margin-top: 80px;
}

.home-content .container .about-service-price:last-child {
  padding-bottom: 175px;
}

.home-content .container .about-service-price h1 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 0;
}

.home-content .container .about-service-price .info {
  display: flex;
  margin-top: 40px;
}
.home-content .container .about-service-price .info > div {
  flex: 1;
  /* margin: 0 auto; */
}

.home-content .container .about-service-price .info .right p {
  font-size: 16px;
}

/* Footer */
.footer {
  background: #d1d1d1;
  height: 48px;
}

.footer .container footer {
  display: flex;
  height: 48px;
  align-items: center;
}

.footer .container footer h1 {
  margin-bottom: 0;
  font-size: 16px;
}

.footer .container footer .social-icon {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  margin-left: 40px;
}

.footer .container footer .social-icon li {
  padding: 0 0.7rem;
}

.footer .container footer .social-icon li:nth-child(1) {
  color: coral;
}

.footer .container footer .social-icon li:nth-child(2) {
  color: #3b5998;
}

.footer .container footer .social-icon li:nth-child(3) {
  color: #fc0d1b;
}
